.DS_Store
.thumbs.db
.idea/
.vscode/
*.iml
*.class
*.log
*.pyc
*.swp

.dart_tool/

/build/

.pub-cache/
.pub/

.flutter-plugins
.flutter-plugins-dependencies

.metadata

**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/generated/
**/android/**/intermediates/
**/android/**/tmp/

**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.xccheckout
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/ServiceDefinitions.json
**/ios/Runner/k8s/

windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/